body {
  font-family: Arial, Helvetica, sans-serif;
}

h2{
  font-size: 1rem;
}

div.cont img.logo{
  width: 50px;
  vertical-align: middle;
}

div.cont h1{
  vertical-align: middle;
  font-weight: bold;
}

div.wrapper {
  background-color: aquamarine;
}

div.box {
  width: 650px;
  height: 650px;
  border: 1px solid black;

}

div.box div.square {
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 1px solid black;
}