h2 {
  font-size: 1rem;
}

div.cont img.logo {
  width: 50px;
  vertical-align: middle;
}

div.cont h1 {
  font-weight: bold;
}

div.wrapper {
  background-color: aquamarine;
}

div.box {
  width: 650px;
  height: 650px;
}

.my_border{
  border: 1px solid black;
}


div.box div.square {
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 1px solid black;
  cursor: crosshair;
}

div.box div.square.clicked {
  background-color: rgb(0, 229, 255);
}
